name: Preview Module

on:
  push:
    paths:
      - '**/*.yaml'
      - '**/*.tf'

jobs:
  get_changed_dirs:
    runs-on: ubuntu-latest
    outputs:
      changed_dirs: ${{ steps.changed_dirs.outputs.changed_dirs }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
          fetch-depth: 2  # Fetch the last two commits

      - name: Get Unique Changed Directories
        id: changed_dirs
        run: |
          set -e
          # Fetch changed files
          changed_files=$(git diff --name-only HEAD^ HEAD)
          # Get unique directories from changed files as a space-separated string
          changed_dirs=$(echo "$changed_files" | xargs -n 1 dirname | sort -u | tr '\n' ' ')
          # Output the unique directories as an environment variable
          echo "::set-output name=changed_dirs::$changed_dirs"

  register_preview:
    needs: get_changed_dirs
    uses: Facets-cloud/module-development-examples/.github/workflows/facets-register-preview.yml@main
    with:
      module_dirs: ${{ needs.get_changed_dirs.outputs.changed_dirs }}  # Pass the list of module directories
    secrets:
      username: ${{ secrets.USERNAME }}  # Facets control plane username
      token: ${{ secrets.TOKEN }}        # Facets control plane token
      control_plane_url: ${{ secrets.CONTROL_PLANE_URL }}  # Facets control plane URL
